<% provide(:title, t("static_pages.about.about")) %>
<h1><%= t("static_pages.about.about")%></h1>
<p>
  <%= t("static_pages.about.the") %>
  <a href="http://www.railstutorial.org/">
    <em><%= t("static_pages.about.railstutorial") %></em>
  </a> <%= t("static_pages.about.is") %>
  <a href="http://www.railstutorial.org/book">
    <%= t("static_pages.about.book") %>
  </a> and
  <a href="http://screencasts.railstutorial.org/">
  <%= t("static_pages.about.screencasts") %>
  </a>
  <%= t("static_pages.about.to") %>
  <a href="http://rubyonrails.org/">
    <%= t("static_pages.about.ror") %>
  </a>
  <%=t("static_pages.about.end") %>
</p>
