<% provide(:title, t("static_pages.help.help")) %>
<h1><%= t("static_pages.help.help")%></h1>
<p>
  <%= t("static_pages.help.content1") %>
  <a href="http://www.railstutorial.org/help">
    <%= t("static_pages.help.rails_help")%>
  </a>
  <%= t("static_pages.help.content2") %>
  <a href="http://www.railstutorial.org/book">
    <em><%= t("static_pages.help.ror") %></em>
    <%= t("static_pages.help.book") %>
  </a>.
</p>
