<footer class="footer">
  <small>
    <%= t("footer.the")%>
    <a href="http://www.railstutorial.org/"><%= t("footer.tutorial")%></a>
    <%= t("footer.by")%>
    <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.header.about"), about_path %></li>
      <li><%= link_to t("static_pages.header.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t("static_pages.footer.news")%></a></li>
    </ul>
  </nav>
</footer>
